body{
    background-image: url("https://picsum.photos/id/147/1000/1000");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#header, .nav, #hero, #cta{
    color: beige;
}

#header {
    background-color: #091540;
    height: 60px;
}

#hero {
    font-size: 22px;
}

#hero > h1 {
    font-size: 75px;

}

#cta {
    color: beige;
    background-color: #FF7733;
    
}

#cta:hover{
    color: black;
    background-color:aqua;
}

#products{
    background-color: #ced6f1;
}

.card{
    background-color: rgb(255, 255, 255);
    width: fit-content;
}